
@import "node_modules/susy/sass/susy";
@import "partials/normalize";
@import "partials/colors";
@import "partials/typography";
@import "partials/responsive";
@import "partials/helpers";
@import "partials/base";

@import "components/header";
@import "components/video-cards";
@import "components/hero";

$susy: (
  columns: 12,
  gutters: .25,
  container: 108rem
);

.wrapper {
  @include container();
  min-height: 100vh;
  margin-top: 2rem;
  border: 1px solid $darkness;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
