<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Gaia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="https://use.fonticons.com/77a45a16.js"></script>
    <link rel="stylesheet" href="/build/css/styles.css">
  </head>
  <body ng-app="app">
    <div class="wrapper" ng-controller="AppController as ctrl">

      <site-header></site-header>
      <hero></hero>

      <loader ng-show="!ctrl.videos"></loader>

      <div class="video-wrapper">
        <video-card video="video" ng-repeat="video in ctrl.videos"></video-card>
      </div>

    </div>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/build/js/app.bundle.js"></script>
  </body>
</html>
