<div class="hero" style="background: url({{ ctrl.hero.termImages.hero.hero_1440x300 }}) no-repeat;">
  <div class="hero-caption">
    <h1 class="hero-caption-title">{{ ctrl.hero.name }}</h1>
    <p class="hero-caption-body">{{ ctrl.hero.body }}</p>
  </div>
</div>
