.header-wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  max-height: 6rem;
}

.menu-wrapper {
  background: $fog;
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-around;
}

.header-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-grow: 2;


  li {
    display: inline-block;
    padding: 1rem;

    a {
      color: $burntblue;
      text-transform: uppercase;

      &:hover {
        color: $orange;
      }
    }
  }
}

.header-search {
  display: flex;
  flex-grow: 0;
  align-self: center;
  border: 1px solid darken($fog, 20%);

  input {
    margin: 0;
    outline: none;
    padding: 1rem;
    border: 1px solid transparent;
    background: transparent;
  }
}

.search-button {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid transparent;
  background: transparent;
  color: darken($fog, 20%);
  outline: none;
  align-self: center;
  margin-right: 1rem;
}
