%card {
  @include gallery(3 of 12);
}

.icon-like {
  background: url("/build/images/like-icon.png") no-repeat;
  height: 3.5rem;
  width: 3.5rem;
  display: inline-block;
}

.video-wrapper {
  @include container();
  @extend %clearfix;
  padding: 2rem;
}

.video-card {
  @extend %card;
  margin-bottom: 1rem;
}

.label {
  background: rgba($teal, 0.85);
  color: $white;
  position: absolute;
  z-index: 2;
  padding: 0 1rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.video-card-image {
  width: 100%;
}

.video-meta-header {
  display: flex;
  justify-content: space-between;
}

.video-card-title {
  flex-basis: 80%;
  margin: 0;
  // font-weight: 200;
  color: $burntblue;
}

.more {
  display: inline-block;
  text-transform: uppercase;
  float: right;
  color: $midnight;
}
