<figure class="video-card">
  <span class="label background_teal" ng-if="video.is_new">new</span>
  <img class="video-card-image" ng-src="{{ video.hero_image.hero_320x200 }}" />
  <figcaption class="video-meta">
    <header class="video-meta-header">
      <p class="video-card-title">{{ video.title }}</p>
      <p class="video-like-count"> <i class="fa fa-thumbs-o-up"></i> {{video.comment_count}}</p>
    </header>
    <a class="more" ng-href="{{video.path}}">more  <i class="fa fa-angle-down"></i></a>
  </figcaption>
</figure>
