* {
	position: relative;
	margin: 0;
	padding: 0;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	line-height: 3rem;
	color: $charcoal;
}

a {
	text-decoration: none;

	&:hover {

	}
}

img {
  width: 100%;
}

p {
	margin-bottom: 1.6rem;
}

::selection {
	background-color: darken($fog, 10%);
}

code {
	display: block;
	padding: 2rem;
	background: lighten($charcoal, 10%);
	border: 2px solid $charcoal;

	p {
		color: $white;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
	}
}
