// typography baselines and @font face setups

h1, h2, h3, h4 {

}

%truncate, .truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  font-weight: 200;
}
