<div class="header">
  <div class="header-wrapper">
    <a href="/" class="header-logo"><img class="logo" src="/build/images/logo.png" /></a>
    <figure class="user authed">
      <span class="user-name">David</span>
      <i class="fa fa-user"></i>
    </figure>
  </div>
  <nav class="menu-wrapper">
    <ul class="header-menu">
      <li><a href="#">my gaia</a></li>
      <li><a href="#">yoga</a></li>
      <li><a href="#">seeking truth</a></li>
      <li><a href="#">transformation</a></li>
      <li><a href="#">films &amp; docs</a></li>
      <li><a href="#">centers</a></li>
    </ul>
    <form class="header-search">
      <input type="text" />
      <button class="search-button"><i class="fa fa-search"></i></button>
    </form>
  </nav>
</div>
